<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Otterswaps</title>
  <style>
    .custom-background {
      background-color: salmon;
      color: black;
    }
  </style>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous">
</head>
<body class="custom-background">
  <div class="container">
    <h1>Listings</h1>
    <div class="row">
      {% for image in image_data %}
      <div class="col-md-4 mb-4">
        <img src="{{ url_for('static', filename='images/' + image.filename) }}" alt="Uploaded Image" class="img-fluid">
        <p>{{ image.description }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</body>
</html>
